@font-face {
    font-family: 'GothamBold';
    src: url('./GothamBold.ttf') format('woff2'), /* Modern Browsers */
         url('./GothamBold.ttf') format('woff');   /* Older Browsers */
    
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamBook';
    src: url('./GothamBook.ttf') format('woff2'), /* Modern Browsers */
         url('./GothamBook.ttf') format('woff');   /* Older Browsers */
    
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamMedium';
    src: url('./GothamMedium.ttf') format('woff2'), /* Modern Browsers */
         url('./GothamMedium.ttf') format('woff');   /* Older Browsers */
    
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-extra';
    src: url('./Montserrat-ExtraBold.otf') format('woff2'), /* Modern Browsers */
         url('./Montserrat-ExtraBold.otf') format('woff');   /* Older Browsers */
    
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url('./Montserrat-Regular.otf') format('woff2'), /* Modern Browsers */
         url('./Montserrat-Regular.otf') format('woff');   /* Older Browsers */
    
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {

}

body {
    font-family: "Montserrat", sans-serif !important;
    color: white !important;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900 !important;
}

.hero-section {
    background: url('./herobackground.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

nav {
    width: 100%;
    font-size: small;
}

nav > ul {
    list-style: none;
}

nav ul li {
    cursor: pointer;
}

.social-icons {
    width: 100%;
    padding: 0 0.2rem;
    margin: 0 0.5rem;
}

.in-touch-btn {
    padding: 0.1rem;
    background: linear-gradient(45deg, #5db9e9ff, #9360a8ff, #e5b5d4ff);
    width: max-content;
    border-radius: 2rem;
    position: relative;
    top: 4rem;
}

.in-touch-btn button {
    background: linear-gradient(#09001eff, #1a0f29ff) ;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    color: white;
}

.in-touch-btn img {
    width: 2rem;
    margin-left: 1rem;
}

.hero-main {
    height: 35rem;
}

.hero-title {
    font-weight: 900;
    font-size: 3rem;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateX(-20px);
}

.title {
    font-weight: 900;
    font-size: 2rem;
}

.hero-title.active {
    opacity: 1;
    transform: translateX(0);
}

.desktop-nav {
    display: none !important;
}

.contact-section {
    flex-direction: column;
}

.contact-item {
    gap: 1rem;
    width: 100%;
    padding-left: 2rem;
}

.arrows {
    cursor: pointer;
}

.text-left {
    text-align: left;
}

.work-section {
    background-image: url('./workbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
    padding: 2rem 0;
}

.blog-section {
    background-image: url('./blogbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
    padding: 2rem 0;
}

.case-section {
    background-image: url('./casebg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
    padding: 2rem 0;
}

.clients-section {
    background-image: url('./workbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 60vh;
    padding: 2rem 0;
}

.case-main {
    height: 50vh;
}

.work-container {
    width: 18rem;
    padding: 1rem;
    margin: 0.5rem;
}

.work-container img {
    margin: 1rem;
}

.case-container {
    width: 24rem;
}

.case-container img {
    object-fit: cover;
    width: 100%;
}

.clients-container {
    height: 30vh;
}

footer {
    background-image: url('./footerbg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40vh;
    padding: 2rem 0;
}

.maps-container {
    margin: 2rem 0rem;
}

.red-bg {
    background-color: red;
}

.purple-bg {
    background-color: purple;
}

.dark-bg {
    background: linear-gradient(#09001eff, #1a0f29ff) ;
}

.work-container-btn {
    padding: 0.1rem;
    background: linear-gradient(45deg, #5db9e9ff, #9360a8ff, #e5b5d4ff);
    width: max-content;
    border-radius: 1rem;
}

.work-container-btn button {
    border: none;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    color: white;
}



@media only screen and (min-width: 768px) and (max-width: 1200px){
    .desktop-nav {
        display: flex !important;
    }

    .hero-title {
        font-size: 4rem;
    }

    .title {
        font-weight: 900;
        font-size: 3rem;
    }

    .contact-item {
        width: auto;
        padding-left: 0;
    }

    .contact-section {
        flex-direction: row;
    }
}
  
@media only screen and (min-width: 1201px) {
    .desktop-nav {
        display: flex !important;
    }

    .hero-title {
        font-size: 5rem;
    }

    .title {
        font-weight: 900;
        font-size: 4rem;
    }

    .contact-section {
        flex-direction: row;
    }

    .contact-item {
        width: auto;
        padding-left: 0;
    }
}